
@use "./sass/_reset";

$veryDarkBlue : hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue : hsl(235, 24%, 19%);

:root {
    --countainer-background: url("./images/bg-desktop-light.jpg");
    --container-mobile-background: url("./images/bg-mobile-light.jpg");
    --container-background-color: hsl(0, 0%, 98%);
    --task-background: #fff;
    --theme-button-image: url("./images/icon-moon.svg");
    --task-bottom-border-color: hsl(236, 33%, 92%);
    --task-text-color: hsl(235, 19%, 35%);
    --task-complated-text-color: hsl(233, 11%, 84%);
    --control-text-color: hsl(236, 9%, 61%);
    --control-text-hover-color: #{$veryDarkDesaturatedBlue};
}

.dark {
    --countainer-background: url("./images/bg-desktop-dark.jpg");
    --container-mobile-background: url("./images/bg-mobile-dark.jpg");
    --container-background-color: #{$veryDarkBlue};
    --task-background: #{$veryDarkDesaturatedBlue};
    --theme-button-image: url("./images/icon-sun.svg");
    --task-bottom-border-color: hsl(237, 14%, 26%);
    --task-text-color: hsl(234, 39%, 85%);
    --task-complated-text-color: hsl(233, 14%, 35%);
    --control-text-color: hsl(233, 14%, 35%);
    --control-text-hover-color: hsl(234, 39%, 85%);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: var(--countainer-background);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 8rem 2rem;
    background-color: var(--container-background-color);
    @media (max-width: 600px) {
        background-image: var(--container-mobile-background);
    }
}

.app {
    min-width: 54rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    @media (max-width: 600px) {
        min-width: 100%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2.5rem;
        color: white;
    }
    &__title {
        font-weight: 700;
        font-size: 4rem;
        letter-spacing: 1.5rem;
    }
    &__themebutton {
        background-image: var(--theme-button-image);
        background-size: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
    }
    &__body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        > .app__task {
            border-radius: .5rem;
            box-shadow: rgba(0, 0, 0, .1) 0px 4px 12px;
        }
    }
    &__usertasks {
        background-color: var(--task-background);
        border-radius: .5rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        & .app__task {
            border-block-end: 0.1rem solid var(--task-bottom-border-color);
        }
    }
    &__tasks {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        overflow: hidden;
        &-empty {
            padding: 4rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            justify-content: center;
            align-items: center;
            &image {
                width: 25rem;
                height: 100%;
            }
        }
        &--active {
            & .app__task--complated {
                display: none;
            }
        }
        &--complated {
            & .app__task {
                display: none;
            }
            & .app__task--complated {
                display: flex;
            }
        }
    }
    &__task {
        padding: 2.2rem 1.8rem;
        background-color: var(--task-background);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        &:hover > &delete {
            visibility: visible;
            opacity: 1;
        }
        &--complated {
            .app__taskcheck {
                background-image: linear-gradient(140deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
                &:hover {
                    background-image: linear-gradient(140deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%),
                      linear-gradient(140deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
                }
                & img {
                    display: block;
                }
            }
            .app__input {
                text-decoration: line-through;
                color: var(--task-complated-text-color);
            }
        }
        &--dragging {
            opacity: 0.2;
        }
    }
    &__input {
        flex: 1;
        color: var(--task-text-color);
    }
    &__taskcheck {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: .1rem solid var(--task-bottom-border-color);
        &:hover {
            border: .1rem solid transparent;
            border-radius: 50%;
            background-image: linear-gradient(var(--task-background), var(--task-background)),
                        linear-gradient(140deg, rgba(87,221,255,1) 0%, rgba(192,88,243,1) 100%);
            background-origin: border-box;
            background-clip: padding-box, border-box;
        }
        & img {
            display: none;
        }
    }
    &__taskdelete {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        & img {
            pointer-events: none;
        }
    }
    &__control {
        display: flex;
        justify-content: space-between;
        padding: 1.8rem;
        font-size: 1.4rem;
        color: var(--control-text-color);
        position: relative;
    }
    &__filter {
        font-weight: 700;
        display: flex;
        gap: 2rem;
        position: absolute;
        inset-inline-start: 50%;
        transform: translateX(-50%);
        @media (max-width: 600px) {
            inset-block-end: -150%;
            width: 100%;
            justify-content: center;
            padding: 2rem 2rem;
            box-shadow: rgba(0,0,0,.1) 0px 4px 12px;
            border-radius: .5rem;
            font-size: 1.7rem;
            background-color: var(--task-background);
        }
        &button {
            color: var(--control-text-color);
            transition: .3s;
            &--activeted {
                color: hsl(220, 98%, 61%);
            }
            &:hover {
                color: var(--control-text-hover-color);
            }
        }
    }
    &__clearcomplated {
        color: var(--control-text-color);
        transition: .3s;
        &:hover {
            color: var(--control-text-hover-color);
        }
    }
    
}